.split-pane {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.split-pane--horizontal {
    flex-direction: row;
}

.split-pane--vertical {
    flex-direction: column;
}

.split-pane__wrapper {
    display: contents;
}

.split-pane__pane {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

/* Divider */
.split-pane__divider {
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color var(--transition-fast);
    z-index: var(--z-sticky);
}

.split-pane__divider--horizontal {
    width: var(--divider-size, 4px);
    cursor: col-resize;
}

.split-pane__divider--vertical {
    height: var(--divider-size, 4px);
    cursor: row-resize;
}

/* Divider line (the visible element) */
.split-pane__divider-line {
    background-color: var(--divider-color, var(--color-border-primary));
    transition: background-color var(--transition-fast);
}

.split-pane__divider--horizontal .split-pane__divider-line {
    width: 1px;
    height: 100%;
}

.split-pane__divider--vertical .split-pane__divider-line {
    width: 100%;
    height: 1px;
}

/* Hover and focus states */
.split-pane__divider:hover,
.split-pane__divider:focus-visible {
    background-color: var(--divider-hover-color, var(--color-accent-blue));
}

.split-pane__divider:hover .split-pane__divider-line,
.split-pane__divider:focus-visible .split-pane__divider-line {
    background-color: transparent;
}

/* Focus styles */
.split-pane__divider:focus-visible {
    outline: none;
}

/* Active state during drag */
.split-pane__divider:active {
    background-color: var(--divider-hover-color, var(--color-accent-blue));
}

/* Increase hit area for easier grabbing */
.split-pane__divider::before {
    content: '';
    position: absolute;
}

.split-pane__divider--horizontal::before {
    top: 0;
    bottom: 0;
    left: -3px;
    right: -3px;
}

.split-pane__divider--vertical::before {
    left: 0;
    right: 0;
    top: -3px;
    bottom: -3px;
}
